body {
    font-family: sans-serif;
  }
  h1 {
    text-align: center;
  }
  .container {
    border: 1px outset;
    width: 300px;
    padding: 10px;
    margin: auto;
    justify-content: center;
  }
  p {
    text-align: center;
  }
  .login {
    background-color: blue;
    color: white;
    width: 100%;
    height: 30px;
    font-size: medium;
  }